<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hussnain.authinticationfirebase">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="notifications.Notifications"></activity>

        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/avatar" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" /> <!-- [END fcm_default_channel] -->
        <activity android:name="loginactivities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="loginactivities.LoginActivity" />
        <activity
            android:name="loginactivities.SignupActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="adminpackage.AdminActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="adminpackage.AllAdminRecord"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="attendance.AttendanceSheetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="studentpackage.StudentProfile"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="studentpackage.SendLeaveRequest"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity android:name="loginactivities.ResetPasswordActivity" />
    </application>

</manifest>